accelerate==1.7.0
addict==2.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
albucore==0.0.24
albumentations==2.0.8
alembic==1.16.2
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anykeystore==0.2
apex==0.9.10.dev0
asttokens==3.0.0
attrs==25.3.0
av==14.4.0
blinker==1.9.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
coloredlogs==15.0.1
comfyui-embedded-docs==0.2.2
comfyui_frontend_package==1.22.2
comfyui_workflow_templates==0.1.29
comm==0.2.2
ConfigArgParse==1.7.1
contourpy==1.3.2
cryptacular==1.6.2
cycler==0.12.1
Cython==3.1.1
dash==3.1.0
decorator==5.2.1
defusedxml==0.7.1
diffusers==0.33.1
easydict==1.13
einops==0.8.1
executing==2.2.0
facexlib==0.3.0
fastjsonschema==2.21.1
filelock==3.18.0
filterpy==1.4.5
fire==0.7.0
Flask==3.1.1
flatbuffers==25.2.10
fonttools==4.58.1
frozenlist==1.6.0
fsspec==2025.5.0
greenlet==3.2.3
huggingface-hub==0.31.4
humanfriendly==10.0
hupper==1.12.1
idna==3.10
imageio==2.37.0
importlib_metadata==8.7.0
insightface==0.7.3
ipython==9.3.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.1
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyter_core==5.8.1
jupyterlab_widgets==3.0.15
kiwisolver==1.4.8
kornia==0.8.1
kornia_rs==0.1.9
lazy_loader==0.4
lightning-utilities==0.14.3
llvmlite==0.44.0
Mako==1.3.10
MarkupSafe==3.0.2
matplotlib==3.10.3
matplotlib-inline==0.1.7
mpmath==1.3.0
multidict==6.4.4
narwhals==1.44.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
numba==0.61.2
numpy==2.2.6
nunchaku @ file:///mnt/public/tairuqiu/code/ComfyUI/nunchaku-0.3.0%2Btorch2.7-cp312-cp312-linux_x86_64.whl#sha256=e5dbdc50e3e42ac788db0d5a1fbde70b7c5b1434d2415286aa7b3298783315ea
nvidia-cublas-cu12==12.8.3.14
nvidia-cuda-cupti-cu12==12.8.57
nvidia-cuda-nvrtc-cu12==12.8.61
nvidia-cuda-runtime-cu12==12.8.57
nvidia-cudnn-cu12==9.7.1.26
nvidia-cufft-cu12==11.3.3.41
nvidia-cufile-cu12==1.13.0.11
nvidia-curand-cu12==10.3.9.55
nvidia-cusolver-cu12==11.7.2.55
nvidia-cusparse-cu12==12.5.7.53
nvidia-cusparselt-cu12==0.6.3
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.8.61
nvidia-nvtx-cu12==12.8.55
oauthlib==3.2.2
omegaconf==2.3.0
onnx==1.18.0
onnxruntime==1.22.0
open3d==0.19.0
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
packaging==25.0
pandas==2.3.0
parso==0.8.4
PasteDeploy==3.1.0
pbkdf2==1.3
peft==0.16.0
pexpect==4.9.0
pillow==11.2.1
plaster==1.1.2
plaster-pastedeploy==1.0.1
platformdirs==4.3.8
plotly==6.2.0
prettytable==3.16.0
prompt_toolkit==3.0.51
propcache==0.3.1
protobuf==6.31.1
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==2.22
pydantic==2.11.4
pydantic-settings==2.10.0
pydantic_core==2.33.2
Pygments==2.19.2
pyparsing==3.2.3
pyquaternion==0.9.9
pyramid==2.0.2
pyramid-mailer==0.15.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python3-openid==3.2.0
pytorch-lightning==2.5.1.post0
pytz==2025.2
PyYAML==6.0.2
referencing==0.36.2
regex==2024.11.6
repoze.sendmail==4.4.1
requests==2.32.3
requests-oauthlib==2.0.0
retrying==1.4.0
rpds-py==0.25.1
safetensors==0.5.3
scikit-image==0.25.2
scikit-learn==1.7.0
scipy==1.15.3
sentencepiece==0.2.0
setuptools==78.1.1
simsimd==6.4.7
six==1.17.0
soundfile==0.13.1
spandrel==0.4.1
SQLAlchemy==2.0.41
stack-data==0.6.3
streamdiffusion==0.1.1
stringzilla==3.12.5
sympy==1.14.0
termcolor==3.1.0
threadpoolctl==3.6.0
tifffile==2025.6.1
timm==1.0.15
tokenizers==0.21.1
torch==2.7.0+cu128
torchaudio==2.7.0+cu128
torchmetrics==1.7.2
torchsde==0.2.6
torchvision==0.22.0+cu128
tqdm==4.67.1
traitlets==5.14.3
trampoline==0.1.2
transaction==5.0
transformers==4.52.1
translationstring==1.4
triton==3.3.0
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
velruse==1.1.1
venusian==3.1.1
wcwidth==0.2.13
WebOb==1.8.9
Werkzeug==3.1.3
wheel==0.45.1
widgetsnbextension==4.0.14
WTForms==3.2.1
wtforms-recaptcha==0.3.2
xformers==0.0.30
yarl==1.20.0
zipp==3.22.0
zope.deprecation==5.1
zope.interface==7.2
zope.sqlalchemy==3.1
